/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode

resources/types/*.d.ts
!resources/types/hybridly.d.ts
!resources/types/shims-*.d.ts
resources/i18n/locales.json
resources/types/*.d.ts
!resources/types/hybridly.d.ts
!resources/types/shims-*.d.ts
resources/i18n/locales.json
resources/types/*.d.ts
!resources/types/hybridly.d.ts
!resources/types/shims-*.d.ts
resources/i18n/locales.json
resources/types/*.d.ts
!resources/types/hybridly.d.ts
!resources/types/shims-*.d.ts
resources/i18n/locales.json
resources/types/*.d.ts
!resources/types/hybridly.d.ts
!resources/types/shims-*.d.ts
resources/i18n/locales.json
resources/types/*.d.ts
!resources/types/hybridly.d.ts
!resources/types/shims-*.d.ts
resources/i18n/locales.json