includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    paths:
        - app/
        - routes/
        - database/
        - tests/

    # Level 9 is the highest level
    level: 9

    ignoreErrors:
        - '#^Method [a-zA-Z0-9\\_]+::[a-zA-Z0-9\\_]+\(\) should return Hybridly\\Contracts\\HybridResponse but returns Hybridly\\Hybridly\|Hybridly\\View\\Factory\.$#'
        - '#^Call to an undefined method Illuminate\\Database\\Query\\Builder::withTrashed\(\).$#'
        - '#^Call to an undefined method Illuminate\\Database\\Query\\Builder::onlyTrashed\(\).$#'
        -
            message: '#^Undefined variable: \$this$#'
            paths:
                - tests/*
        -
            message: '#^Method App\\Data\\[a-zA-Z0-9\\_]+\:\:attributes\(\) should return array\<string, string\> but returns mixed\.$#'
            path: app/Data/*
        -
            message: '#^Method App\\Http\\Controllers\\ImagesController\:\:show\(\) should return Symfony\\Component\\HttpFoundation\\StreamedResponse but returns mixed\.$#'
            path: app/Http/Controllers/ImagesController.php
        -
            message: '#^Parameter \#4 \$password of class App\\Data\\StoreUserData constructor expects string\|null, mixed given\.$#'
            path: app/Data/StoreUserData.php
        -
            message: '#^Parameter \#5 \$owner of class App\\Data\\StoreUserData constructor expects bool, mixed given\.$#'
            path: app/Data/StoreUserData.php